@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

h2 {
  max-width: 100%;
  height: auto;
}

.tabelaProdutos{
  margin: 10px auto;
  text-align: center;
}

.tituloTabela{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding: 5px;
  border: transparent;
}

.imagentb{
  height: 40px;
  width: 50px;
}

tr,td,th{
  border: 1px solid #B0C4DE;
  padding: 5px;
}

tr,td{
  font-size: 14px;
}

.faleconosco{
  width: 300px;
  margin: 0px auto;
  font-weight: bold;
  margin-bottom: 10px;
}

.faleconosco input, .faleconosco textarea, .faleconosco select{
  margin: 5px auto;
  width: 100%;
  padding: 5px 0;
}

.faleconosco textarea{
  height: 100px;
  resize: none;
}

.faleconosco button{
  width: 30%;
  margin: 0 10%;
  background-color: #b1ccf5;
  font-weight: bold;
  font-size: 16px
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

#banner {
  height: 370px;
  width: 745px;
  align-content: center;
}

#banner2 {
  height: 370px;
  width: 745px;
  align-content: center;
}

.card-img-top {
  height: 370px;
  width: 315px;
  align-content: center;
}

.extra {
  margin-top: 2px;
  margin-left: 10px;
  margin-right: auto;
  height: 30px;
}

.botaopro2 {
  margin-top: 2px;
  margin-left: 1180px;
  margin-right: auto;
  height: 30px;
}

.botao2 {
  margin-top: 2px;
  margin-left: 10px;
  margin-right: auto;
  height: 30px;
}

.botao1 {
  margin-top: 2px;
  margin-left: 1050px;
  height: 30px;
}

.slides {
  height: 800px; 
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.nav-link {
  color: #fcdf2b;
}

.card {
  background-color: #0d0d0d;
}

.text-muted {
  text-align: center;
}

td {
  text-align: center;
  font-weight: normal;
}

th {
  text-align: center;
}

.card-text {
  color: #fff;
  font-weight: normal;
  text-align: center;

}

#teste {
  font-size: 32px;
}

.card-body {
  background-color: #0d0d0d;
}

.card-title {
  font-family: 	Times New Roman;
  color: #fcdf2b;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}

.card-footer {
  background-color: #000;
}

.foto {
  position: absolute;
  opacity: 0;
  animation: animacao 20s infinite;
}

@keyframes animacao {
  25% {
    opacity: 1;
    transform:scale(1.1,1.1);
  }
  50% {
    opacity: 0;
  }
}

.atrasdatabela{
  background-color: #000;
  margin-left: 770px;
  margin-right: 770px;
  margin-top: 15px;
  border-radius: 8px;
}

legend, label {
  color: #fcdf2b;
}

.foto:nth-child(1){
}
.foto:nth-child(2){
  animation-delay: 5s;
}
.foto:nth-child(3){
  animation-delay: 10s;
}
.foto:nth-child(4){
  animation-delay: 15s;
}
.foto:nth-child(5){
  animation-delay: 20s;
}
.foto:nth-child(6){
  animation-delay: 25s;
}
.foto:nth-child(7){
  animation-delay: 30s;
}
.foto:nth-child(8){
  animation-delay: 40s;
}
.foto:nth-child(9){
  animation-delay: 45s;
}
.foto:nth-child(10){
  animation-delay: 50s;
}
.foto:nth-child(11){
  animation-delay: 55s;
}
.foto:nth-child(12){
  animation-delay: 60s;
}

ul {
  margin: 0;
  padding: 0;
}

.final {
  font: inherit;
  font-weight: normal;
  font-size: 40px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url(images/cabecalho.jpg);
  color: white;
  text-align: left;
}

body {
	margin: 0;
  background-image: url(images/cabecalho.jpg);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 120px;
  padding-top: 55px;
  position: relative;
}

nav a {
  color: #fcdf2b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #fcdf2b;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #fcdf2b;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.logo {
  margin-top: 10px;
  float: left;
  padding: 0px;
}

#amarelao {
  background-color: #fcdf2b;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

#amarelao2 {
  background-color: #fcdf2b;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

#amarelao3 {
  background-color: #fcdf2b;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}


#amarelao4 {
  background-color: #fcdf2b;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

#amarelao5 {
  background-color: #fcdf2b;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

#amarelao6 {
  background-color: #fcdf2b;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

.alunos {
  font: inherit;
  font-size: 16px;
  font-weight: normal;
  color: #fcdf2b;
  margin-left: 10px;
}

.container {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  background-image: url(images/cabecalho.jpg);
}

.desc {
  padding: 15px;
  text-align: center;
  color: #fcdf2b;
}

.sobre p {
  text-align: justify;
  font-size: 16px;
  line-height: 25px;
  color: #fcdf2b;
  margin-bottom: 2px;
  margin-right: 250px;
  margin-left: 250px;
}

.sobre h3 {
  font-family: 	Times New Roman;
  font-size: 38px;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 75px;
  margin-left: 75px;
  color: #fcdf2b

  ;
}